<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    
    
    <form method="POST" action="/updatedata">

    
  <div class="form-group">
    <label >Name of student</label>
    <input type="hidden" value="{{_id}}" name="_id"> 
    <input type="text" class="form-control"  value="{{name}}" placeholder="Enter student name" name="name">
    </div>
  <div class="form-group">
    <label >Studentid</label>
    <input type="text" class="form-control" value="{{studentid}}"   placeholder="Studentid" name="studentid">
  </div>
    <div class="form-group">
    <label >class</label>
    <input type="number" class="form-control" value="{{class}}"  placeholder="class" name="class">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>

</body>
</html>